/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');

/*Set the size of the body element*/
body {
  height: 60vh;
  background-color: cadetblue;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: center;
}

.bookCard {
  box-shadow: 6px 2px 29px -4px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  height: 18rem;
  border-radius: 15px;
  justify-content: flex-start;
  flex: 0 1 15rem;
  background-color: rgb(218, 180, 168);
  margin: 2rem;
}

.rmContainer {
  display: flex;
  justify-content: flex-end;
}

#rmBook {
  background: rgb(218, 180, 168);
  border-top-right-radius: 15px;
  margin-right: 5px;
  margin-top: 5px;
  color: rgb(72, 144, 146);
  font-weight: 700;
}

#rmBook:hover {
  color: rgb(54, 89, 90);
  cursor: pointer;
}

.author {
  font-size: 22px;
  color: rgb(72, 144, 146);
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin-top: 10px;
}

.pages {
  color: rgb(72, 144, 146);
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin-top: auto;
  margin-bottom: 1rem;
}

.bookStatus {
  color: rgb(72, 144, 146);
  font-size: 20px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin-top: 5px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-right: 0.6em;
  padding-left: 0.6em;
  padding-top: 0.3em;
  padding-bottom: 0;
  font-weight: 600;
}

.read {
  background: rgb(17, 163, 83);
  color: rgb(61, 88, 88);
}

.read:hover {
  cursor: pointer;
  background: rgb(22, 119, 66);
  transition-duration: 0.2s;
}

.notRead {
  background: rgb(206, 93, 79);
  color: rgb(61, 88, 88);
}

.notRead:hover {
  cursor: pointer;
  background: rgb(160, 78, 67);
  transition-duration: 0.2s;
}

h1 {
  text-align: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-bottom: 3px;
  font-family: 'Crimson Text', serif;
  color: rgb(73, 108, 109);
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  margin-bottom: 0px;
}

p {
  text-align: center;
}

button {
  border: 0;
}

button:focus {
  outline: none;
}

button:active{
  border: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

#addBookButton {
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 27px;
  padding: auto;
  height: 1.45em;
  font-weight: 500;
  margin: 1rem;
  border-radius: 8px;
  background: rgb(69, 112, 114);
  color: rgb(255, 255, 255);
}

#addBookButton:hover {
  background: rgb(57, 88, 90);
  transition-duration: 0.2s;
  cursor: pointer;
}

.formContainer {
  background: rgb(172, 224, 226);
  height: 26rem;
  position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -50px; /* Neagative half of height*/
  margin-left: -150px; /* Neagative half of width*/
  border-radius: 15px;
  box-shadow: 6px 2px 29px -4px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  flex: 0 1 25rem;
}

#formContainer[hidden] {
  display: none;
}

#addBook {
  margin: 25px;
}

#addBook h2 {
  margin-top: 0;
}

label {
  text-align: center;
  font-size: 26px;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

.fBtnContainer {
  display: flex;
  justify-content: center;
}

#addBtn {
  display: block;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 27px;
  padding: auto;
  height: 1.45em;
  font-weight: 500;
  margin: 1rem;
  border-radius: 8px;
  background: rgb(69, 112, 114);
  color: rgb(255, 255, 255);
}

#addBtn:hover {
  background: rgb(57, 88, 90);
  transition-duration: 0.2s;
}

input[type='text'] {
  display: block;
  margin-bottom: 10px;
  font-size: 23px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  line-height: 0.75em;
  height: 0.75em;
  padding-top: 0.25em;
  border-radius: 5px;
  border: 0;
  background: white;
}

input[type='text']:focus {
  outline: none;
  background: white;
}

input[type='text']:active {
  border: none;
  background: white;
}